body {
    margin: 0;
    margin-top: 50px;
    background-color: #f7f5f5 !important;
    color: #1F4167;
    
}

nav {
    height: 50px;
}

.heading {
    font-size: 30px;
    font-weight: 100px;
    margin-top: 10px;
    letter-spacing: 3px;
}

#menu {
    width: 100%;
    height: 60px;
    display: inline-flex;
    margin-top: 30px;
    justify-content: flex-end;
    
}

#menu li {
    margin-left: 20px;
    list-style: none;
}

#menu li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

#header-image {
    background: url(../css/images/header-image2.jpg) no-repeat;
    background-position: bottom;
    opacity: 0.7;
    height: 900px;
}

.jumbotron {
    height: 300px;
}

.jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
    /* opacity: 0.7; */
    background-color: #ff6200 !important;
    color: #f7f5f5;
}

.btn-primary {
    color: #1F4167 !important;
    background-color: #f7f5f5!important; 
    border-color: #f7f5f5!important;
}

.info-box {
    /* if i remove width and height the info-box will be centered */
    /* height: 250px;
    width: 400px; */
    background-color: #ffc78b;

}

.info-box p {
    font-size: 30px;
    color: #ffffff;
    margin-top: 50px;
    
}

.col-centered{
    margin: auto;
    max-width: 300px;
}

.what_we_offer_images {
    background-color: #ff6200;
}

/* index.html style */

.how-it-works-container {
    height: 800px;

}

.how-it-works {
    height: 200px;
    margin-top: 100px;
    background-color: #ffc78b !important;
} 

.how-it-works-heading {
    margin-top: 50px;
    font-size: 30px;
    color:#7d5858;
}

.aktiviteter-container {
    margin-bottom: 10px;
}

.aktiviteter {
    font-size: 30px;
    margin-left: 50px;
    color: #ffc78b;
    position: static;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#div-1-container {
    height: 100vh;
    width: 33%;
    margin-top: 10px;
}


#div-2-container  {
    height: 100vh;
    width: 33%;
}

#div-3-container  {
    height: 100vh;
    width: 33%;
}

#div-1-image {
    background: url(../css/images/måla-ceramic.jpg) no-repeat;
    width: 100%;
    height: 900px;
    background-position: right;
    background-size: contain;
    
}

#div-2-image {
    background: url(../css/images/dreja2.jpg) no-repeat;
    width: 100%;
    height: 900px;
    background-position: right;
    background-size: contain;

}

#div-3-image {
    background: url(../css/images/bokakurs.jpg) no-repeat;
    width: 100%;
    height: 900px;
    background-position: right;
    background-size: contain;
    
   
}

/* bootstrap.html style */

.first-div {
    background-color: #ffc78b;
}

.second-div {
    background-color: #f7f5f5;

}
.third-div {
    background-color: #f7f5f5;
}
.fourth-div {
    background-color: #ffc78b;
}

.image-container {
    margin-top: 30px;

} 

.image-container h2 {
    text-align: center;
    margin-top: 50px;

} 

.text-container {
    height: 300px;
    margin-top: 80px;
    word-wrap: break-word;
    
}

img {
    border-radius: 520px;
}

@media screen and (max-width: 576px) {
    #container {
        height: 25vh;
    }
}

@media screen and (max-width: 700px) {
    #container {
        flex-direction: column;
        height: 25vh;

    }

    #div-1-container  {
        width: 100%;
        margin-top: 50px;

    }
    
    #div-2-container  {
        width: 100%;
        margin-top: 50px;
    }
    
    #div-3-container  {
        width: 100%;
        margin-top: 50px;
        
    }

}

@media screen and (max-width: 1240px) {
    #div-1-image {
        margin-top: -110px;
    }

    #div-2-image {
        margin-top: -110px;
    }

    #div-3-image {
        margin-top: -110px;
    }

}




