body {
    margin: 0;
    background-color: #f7f5f5;
}

.heading {
    font-size: 30px;
    font-weight: 100px;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 3px;
}

#menu {
    width: 100%;
    height: 60px;
    display: inline-flex;
    margin-top: 20px;
}

#menu li {
    margin-left: 50px;
}

#menu li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}


/* index.html style */

.aktiviteter {
    margin-left: 50px;
    color: #ffc78b;
    position: static;
}

#container {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#div-1-container {
    height: 100%;
    width: 33%;
}


#div-2-container  {
    height: 100%;
    width: 33%;
}

#div-3-container  {
    height: 100%;
    width: 33%;
}

#div-1-image {
    background: url(../css/images/ceramics-prov.jpg) no-repeat;
    width: 100%;
    height: 100%;
    background-position: right;
    background-size: contain;
    position: static;
}

#div-2-image {
    background: url(../css/images/ceramics-prov.jpg) no-repeat;
    width: 100%;
    height: 100%;
    background-position: right;
    background-size: contain;
    position: static;

}

#div-3-image {
    background: url(../css/images/ceramics-prov.jpg) no-repeat;
    width: 100%;
    height: 100%;
    background-position: right;
    background-size: contain;
    position: static;
}


@media screen and (max-width: 700px) {
    #container {
        height: 1500px;
        display: flex;
        flex-direction: column; 

    }

    #div-1-container  {
        width: 100%;
        margin-top: 20px;
    }
    
    #div-2-container  {
        width: 100%;
        margin-top: 20px;
    }
    
    #div-3-container  {
        width: 100%;
        margin-top: 20px;
    }

}

/* bootstrap.html style */

.first-div {
    background-color: blue;
}

.second-div {
    background-color: blueviolet;

}
.third-div {
    background-color: brown;
}
.fourth-div {
    background-color: rgb(253, 4, 4);
}

.div-containers {
    height: 800px;
}

.image-container {
    margin-top: 30px;

} 

.image-container h2 {
    text-align: center;
    margin-top: 50px;

} 

.text-container {
    margin-top: 80px;
}

img {
    border-radius: 520px;
}



